.event {
    font-size: 70px;
}

.dd-option-description, .dd-selected-description{
    clear: both;
    font-size: 16px;
    width: 100px;
    text-align: center;
    color: black;
}


.event div {
    float: left;
    margin:0 5px;
}

.card-panel, .dd-selected, .dd-option{
    background-color: #fafafa;
}

.card-panel{
    padding: 20px;
    padding-bottom: 5px;
}

.dd-option{
    text-align: center;
}

/* TODO: fix correct centering of image */
.event img {
    margin-left: 12px;
    margin-bottom: 0px;
    width: 80px;
    height: 80px;
    margin-top: -6px;
}


.dd-pointer{
    margin-left: -5px ;
}

.card-content{
    overflow: visible;
}

.card{
    overflow: visible;
}
