{% extends "base.html" %}
{% block content %}
    <br />


    <div class="row event">

        <div class="col s12">
            <div class="card-panel ">

                <div>If</div>

                <select class="event-select" name="hej">
                    <option value="0" data-imagesrc="static/images/car.png" data-description="Car leaves"> </option>
                    <option value="1" data-imagesrc="static/images/bed.png" data-description="Going to bed"></option>
                    <option value="2" selected="selected" data-imagesrc="static/images/milk.png" data-description="Milk empty"></option>
                </select>

                <div>then</div>

                <select class="event-select2">
                    <option value="0" data-imagesrc="static/images/weather.png" data-description="Send weather report"></option>
                    <option value="1" selected="selected" data-imagesrc="static/images/parking.png" data-description="Suggest parking"></option>
                </select>

            </div>
        </div>
    </div>

    <table>
    {% for function in functions %}
    <tr>
        <td>{{ function.name }} <img src={{url_for('static', filename=function.image)}}></img></td>
        {% for solution in function.solutions %}
            <td>{{ solution.name }} <img src={{url_for('static', filename=solution.image)}}></img></td>
        {% else %}
            <tr>
                <em>Inga lösningar</em>
            </tr>
        {% endfor %}
    </tr>
    {% else %}
    <tr>
        <em>Inga funktioner</em>
    </tr>
    {% endfor %}
    </table>


    <script>

        $('.event-select').ddslick({
            onSelected: function(selectedData){
                //callback function: do something with selectedData;
            }
        });

        $('.event-select2').ddslick({
            onSelected: function(selectedData){
                //callback function: do something with selectedData;
            }
        });

    </script>

{% endblock %}
