{% extends "base.html" %}
{% block content %}
    <br />

    <form action="{{ url_for('index') }}" method=post>
    <div class="row event">

        <div class="col s12">
            <div class="card-panel ">

                <div>If</div>


                <select id="event-select" name="function_id">
                    {% for function in functions %}
                    <option value={{function.id}} data-imagesrc={{url_for('static', filename=function.image)}} data-description={{function.name}}></option>
                    {% endfor %}
                </select>

                <div>then</div>

                <select id="event-select2" name="solution_id">
                    {% for solution in solutions %}
                    <option value={{solution.id}} data-imagesrc={{url_for('static', filename=solution.image)}} data-description={{solution.name}}></option>
                    {% endfor %}
                </select>

            </div>
        </div>
    </div>
    <input type=submit value=Spara>
    </form>

    {% for function in functions %}
    <div class="row valign-wrapper">
    {% if function.solutions %}
    <div class="col l1 offset-l1 valign">
        <h2>IF</h2>
    </div>
    <div class="col l1 valign">
        <img src={{url_for('static', filename=function.image)}}></img>{{ function.name }}
    </div>
    <div class="col l1 valign offset-l1">
        <h2>THEN</h2>
    </div>
    <div class="col l1 offset-l1">
        {% for solution in function.solutions %}
            <img src={{url_for('static', filename=solution.image)}}></img>{{ solution.name }}
        {% else %}
            <em>Inga lösningar</em>
        {% endfor %}
    </div>
    {% endif %}
    </div>
    <div class="divider"></div>
    {% else %}
        <em>Inga funktioner</em>
    </div>
    <div class="divider"></div>
    {% endfor %}
    <div class="row">
        <div class="col l1 offset-l2">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
    </div>

    <script>

        $('#event-select').ddslick({
            onSelected: function(selectedData){
                //callback function: do something with selectedData;
            }
        });

        $('#event-select2').ddslick({
            onSelected: function(selectedData){
                //callback function: do something with selectedData;
            }
        });

    </script>

{% endblock %}
